<header class = "jumbotron">
  <h1>RedNeck Rentals- where you find your trailer playgrounds</h1>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
{{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
</footer>
